tempfile.txt

kmm/*.log

#MAC ONLY .DS_Store
# NOTE: wildcards only apply to chars as part of files names
#       folders nested inside folders are not ignored

*.zip
*.gz
log/*.log
log/*.log[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mps